/*------------------------------------------------------*/
/*                      GLOBAL
/*------------------------------------------------------*/

html {
    --main_turquoise: #5FF4D0;
    --main_grey: #282828;

    font-family: "Montserrat", sans-serif;
    color:var(--main_grey);

    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: grid;
    width:100%;
    grid-template-columns: auto auto;
    overflow-x: hidden;
}

section {
    margin: 10vh 0 10vh 0;
}

section h2 {
    font-size: 2em;
    margin: 0;
}

section h3 {
    font-size: 1.35em;
    margin: 0;
    color: var(--main_turquoise);
}

section .section_title, section .subsection_title {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 10vw auto;
}

section .section_title::before {
    content:'';
    height: 0.75em;
    width: calc(10vw + 0.3em);
    background-color: var(--main_grey);
    display: block;
    position: relative;
    top: 1.184em;
}

section .subsection_title::before {
    content:'';
    height: 0.45em;
    width: calc(10vw + 0.2em);
    background-color: var(--main_turquoise);
    display: block;
    position: relative;
    top: 0.88em;
}

section #competence_title::before {
    width: calc(10vw + 0.7em);
}

section #competences::after {
    content:'';
    display: block;
    width: 0.46em;
    height: 0.46em;
    background-color: white;
    position:relative;
    border-radius: 100%;
    bottom: 0.825em;
    left: 0.19em;
}

/*------------------------------------------------------*/
/*                      ASIDE
/*------------------------------------------------------*/

aside {
    background-color: var(--main_grey);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;

    height: 100vh;
    padding: 0 2em 0 0.5em;
    width: max-content;
    position: sticky;
    top: 0;
    left: 80%;
    align-self: flex-start;
    align-items: center;
}


#aside_left {
    cursor: default;
    margin-right: 1em;
}

#aside_left:hover {
    color: var(--main_turquoise);
}

#aside_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: max-content;
}

aside p {
    font-size: 0.8em;
}

aside h2 {
    margin:0;
}

aside a {
    margin: 0.5em;
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

aside #job_status {
    width: min-content;
    text-align: center;
    color:var(--main_turquoise)
}

aside h2::first-letter {
    color:var(--main_turquoise);
}

/*------------------------------------------------------*/
/*                      HEADER
/*------------------------------------------------------*/

header h1 {
    margin: 0;
    font-size: 3em;
}

header h1::first-letter {
    color: var(--main_turquoise);
}

header {
    display: grid;
    grid-template-columns: 10vw 1fr 10fr;
    margin-top: 5vh;
}

header::before {
    content:'';
    height: 1em;
    width: calc(10vw + 0.3em);
    background-color: var(--main_turquoise);
    display: block;

    position: relative;
    top: 0.797em;
}

header::after {
    content:'';
    height: 1em;
    background-color: var(--main_grey);
    display: block;
    width: calc(100% + 0.3em);

    position: relative;
    left: -0.3em;
    top:5.57em;
}

header #title {
    width: min-content;
}

header h1 {
    width: min-content;
}

/*------------------------------------------------------*/
/*                      PRESENTATION
/*------------------------------------------------------*/

#presentation_image {
    position: relative;
}

#presentation_image #background_image {
    height: 400px;
    display: block;
    background-image: url("background-image.jpg");
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
}

#presentation_image p {
    color:white;
    position: absolute;
    top: 30%;
    text-align: center;
}

/*------------------------------------------------------*/
/*                      PARCOURS
/*------------------------------------------------------*/

.timeline {
    width: 80%;
    height: 6.5em;
    margin: 5vh auto 5vh auto;

}

.timeline_points_flex {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: space-between;
    height: 6.5em;
    position: relative;

}

/*--------------------FORMATION --------------------*/

.timeline_start {
    display: inline-block;   
    height: 10px;
    width: 10px;
    background-color: var(--main_grey);
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: calc(50% - 5px);
    
}

.timeline_end {
    content:'';
    display: inline-block;
 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--main_grey);
    border-radius: 10%;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}


.timeline_point {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    padding:2%;
}

.timeline_startend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    padding: 2%;
}

.timeline_point::after {
    content:'';
    display: block;
    height: 5px;
    background-color: #282828;
    min-width: 6.5em;
    width:100%;
    z-index: 1;
    position:absolute;
    top: calc(50% - 2.5px);
}

.timeline_circle {
    display: block;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 5px var(--main_grey);
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    top: calc(50% - 15px);
}

.timeline_circle::after {
    content:'';
    display: block;
    height: 15px;
    width: 15px;
    background-color: var(--main_turquoise);
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}

.timeline_date, .timeline_event {
    margin: 0;
    width: fit-content;
    height:max-content;
    text-align: center;
}

/*--------------------FORMATION --------------------*/


.timeline_reverse .timeline_point::after, .timeline_reverse .timeline_start {
    background-color: var(--main_turquoise);
}

.timeline_reverse .timeline_circle {
    border: solid 5px var(--main_turquoise);
}


.timeline_reverse .timeline_circle::after {
    background-color: var(--main_grey);
}

.timeline_reverse .timeline_end {
    border-left: 15px solid var(--main_turquoise);
}

/*------------------------------------------------------*/
/*                    COMPETENCES : 0
/*------------------------------------------------------*/


.competence_container {
    display: flex;
    width:100%;
    margin: auto;
    justify-content: space-around;
}

.competence_circles{
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto ;
   width: max-content;

}

.competence_circle {
    display: block;
    margin: auto;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: var(--main_turquoise);
    box-shadow: 5px 5px 5px lightgrey;

}


.competence_circles_first {
    grid-column: span 2;
}

/*------------------------------------------------------*/
/*                  RESPONSIVE LMAO
/*------------------------------------------------------*/


@media only screen and (max-width: 800px) {
    aside {
        display: none;
    }
  }