/*------------------------------------------------------*/
/*                      GLOBAL
/*------------------------------------------------------*/

html {
    --main_turquoise: #00cdb1;
    --main_grey: #282828;
    --light_grey: #D9D9D9;
    --semi_light_grey : #939393;

    font-family: "Montserrat", sans-serif;
    color:var(--main_grey);

    height: 100%;
    width: 100%;
    font-size: 1em;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    width:100vw;
    grid-template-columns: auto auto;
    overflow-x: hidden;
}

section {
    margin: 10vh 0 10vh 0;
}

section h2 {
    font-size: 2em;
    margin: 0;
}

section h3 {
    font-size: 1.35em;
    margin: 0;
    color: var(--main_turquoise);
}

section .section_title, section .subsection_title {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 10vw auto;
}

section .section_title::before {
    content:'';
    height: 0.75em;
    width: calc(10vw + 0.3em);
    background-color: var(--main_grey);
    display: block;
    position: relative;
    top: 1.184em;
}

section .subsection_title::before {
    content:'';
    height: 0.45em;
    width: calc(10vw + 0.2em);
    background-color: var(--main_turquoise);
    display: block;
    position: relative;
    top: 0.88em;
}

section #competence_title::before {
    width: calc(10vw + 0.7em);
}

section #competences::after {
    content:'';
    display: block;
    width: 0.46em;
    height: 0.46em;
    background-color: white;
    position:relative;
    border-radius: 100%;
    bottom: 0.825em;
    left: 0.19em;
}

main {
    transition: 0.2s ease-in-out;
}

/*------------------------------------------------------*/
/*                      ASIDE
/*------------------------------------------------------*/

aside {
    background-color: var(--main_grey);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;

    height: 100vh;
    padding: 0 2em 0 0.5em;
    width: max-content;
    position: sticky;
    top: 0;
    left: 80%;
    align-self: flex-start;
    align-items: center;
}


#aside_left {
    cursor: default;
    margin-right: 1em;
}

#aside_left:hover {
    color: var(--main_turquoise);
}

#aside_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: max-content;
}

aside p {
    font-size: 0.8em;
    transition: 0.5s ease-in-out;
}

aside h2 {
    margin:0;
}

aside a {
    margin: 0.5em;
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

aside a:hover, aside p:hover {
    color: var(--main_turquoise);
}

aside #job_status {
    width: min-content;
    text-align: center;
    color:var(--main_turquoise)
}

aside h2::first-letter {
    color:var(--main_turquoise);
}

/*------------------------------------------------------*/
/*                      HEADER
/*------------------------------------------------------*/

header h1 {
    margin: 0;
    font-size: 3em;
}

header h1::first-letter {
    color: var(--main_turquoise);
}

header {
    display: grid;
    grid-template-columns: 10vw 1fr 10fr;
    margin-top: 5vh;
}

header::before {
    content:'';
    height: 1em;
    width: calc(10vw + 0.3em);
    background-color: var(--main_turquoise);
    display: block;

    position: relative;
    top: 0.797em;
}

header::after {
    content:'';
    height: 1em;
    background-color: var(--main_grey);
    display: block;
    width: calc(100% + 0.3em);

    position: relative;
    left: -0.3em;
    top:5.57em;
}

header #title {
    width: min-content;
}

header h1 {
    width: min-content;
}

/*------------------------------------------------------*/
/*                      PRESENTATION
/*------------------------------------------------------*/

#presentation_image {
    position: relative;
}

#presentation_image #background_image {
    height: 400px;
    display: block;
    background-image: url("background-image.jpg");
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
}

#presentation_image p {
    color:white;
    position: absolute;
    top: 30%;
    text-align: center;
}

/*------------------------------------------------------*/
/*                      PARCOURS
/*------------------------------------------------------*/


.timeline {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    position: relative;
    margin: auto;
}

.timeline p {
    display: block;
    width:100%;
    text-align: center;
}

.timeline_events, .timeline_line, .timeline_dates {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    height: max-content;
}

.timeline_line {
    height:25px;
}

.timeline_start {
    display: inline-block;   
    height: 10px;
    width: 10px;
    background-color: var(--main_grey);
    border-radius: 50%;
    top: calc(50% - 5px);   
}

.timeline_end {
    content:'';
    display: inline-block;
 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--main_grey);
    border-radius: 10%;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

.timeline_circle {
    display: block;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 5px var(--main_grey);
    border-radius: 50%;
    z-index: 10;
    margin: auto;
    position: relative;
    transition: 0.2s ease-in-out;    
}


.timeline_circle:hover::after {
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
}

.timeline_circle:hover p {
    color: var(--main_turquoise);
}

.timeline_line::after {
    content:'';
    display: block;
    height: 5px;
    background-color: #282828;
    min-width: 6.5em;
    width:100%;
    z-index: 1;
    position:absolute;
}

.timeline_circle::after {
    content:'';
    display: block;
    height: 15px;
    width: 15px;
    background-color: var(--main_turquoise);
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
    transition: 0.2s ease-in-out;
}

.timeline_date, .timeline_event {
    margin: 0;
    width: fit-content;
    height:max-content;
    text-align: center;
}

/*
.timeline_reverse .timeline_point::after, .timeline_reverse .timeline_start {
    background-color: var(--main_turquoise);
}

.timeline_reverse .timeline_circle {
    border: solid 5px var(--main_turquoise);
}


.timeline_reverse .timeline_circle::after {
    background-color: var(--main_grey);
}

.timeline_reverse .timeline_end {
    border-left: 15px solid var(--main_turquoise);
}
*/
/*------------------------------------------------------*/
/*                    COMPETENCES : 0
/*------------------------------------------------------*/

.competences_flex {
    display: flex;
    height:min-content;
    width: 95%;
    margin: auto;
    justify-content: space-around;
    margin-top: 5vh;
    align-items: center;
}

.competences_circles_container {
    height: 255px;
    width: 255px;
}

.competences_circles {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 200px;
    width: 205px;
    justify-items: center;
    column-gap: 5px;
}

.competence_circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;;
    text-align: center;
    align-content: center ;
    color: var(--main_turquoise);
    font-weight:bold;
    transition: 0.35s ease-in-out;
    box-shadow: 0px 4px 2px rgb(202, 202, 202);
    font-size: 70%;
    cursor:default;
}

.competence_circle:hover {
    filter: brightness(110%);
}

.competence_circle_selected {
    height: 150px;
    width: 150px;
    font-size: 85%;

}


.competence_circle:nth-child(1) {
    grid-column: span 2;
    color: white;
    background-color: var(--main_turquoise);
}

.competence_circle:nth-child(2) {
    background-color: var(--semi_light_grey);
}

.competence_circle:nth-child(3) {
    background-color: var(--light_grey);
}









.competences_descriptions_container {
    width: 60%;
}



.competences_list {
    display: grid;
    column-gap: 1em;
    width: calc(100% - 3em);
    grid-template-columns: auto auto auto auto;
    word-wrap: break-word;

}

.competences_level {
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.competences_level p {
    display: inline-block;
    margin:0;
}

.competences_levels_circle {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.competences_level #level_1 {
    background-color:#2e3938;
}
.competences_level  #level_2 {
    background-color:#357671;
}
.competences_level  #level_3 {
    background-color: #76cec7;
}
.competences_level  #level_4 {
    background-color: #00ffea;
}


/*------------------------------------------------------*/
/*                  PROJECTS SLIDER
/*------------------------------------------------------*/

.slider {
    width:fit-content;
    height: fit-content;
    display:flex;
    margin:auto;
    align-items: center;
    gap: 2vw;
}


.slider_arrow {
    background-color: var(--light_grey);
    position: relative;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    flex-shrink: 0;
}

.slider_images {
    position: relative;
    height:fit-content;
    width:60vw;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    transition: 0.5s ease-in-out;

}

.slider_image {
    height: 100%;
    width:60vw;
    flex-shrink: 0;
    position:relative;
    left: 0vw;
    transition: 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.slider_image p {
    margin:0;
}





.project_image {
    background-color :#00ffea;
    height: 30vh;
    border: 1px solid;
}




/*------------------------------------------------------*/
/*                  RESPONSIVE LMAO
/*------------------------------------------------------*/


@media only screen and (max-width: 800px) {
    aside {
        display: none;
    }
  }


@media only screen and (max-width: 600px) {
    .competences_flex {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .competences_list {
        grid-template-columns: auto auto;
    }

    .competences_level {
        flex-direction: column;
        align-content: left;
    }


}

@media only screen and (max-width: 400px) {
    html {
        font: 0.7em;
    }

}